@charset "UTF-8";

/* 回答はここに書いてね */
.btn-style {
  display: inline-block;
  cursor: pointer;
}

.btn-small {
  border-radius: 3px;
  font-size: 16px;
  line-height: 26px;
  padding: 0 15px;
}

.btn-middle {
  border-radius: 5px;
  font-size: 20px;
  line-height: 32px;
  padding: 0 20px;
}

.btn-large {
  border-radius: 7px;
  font-size: 24px;
  line-height: 38px;
  padding: 0 25px;
}

.btn-common {
  background-color: #00bcd4;
  color: #fff;
}

.btn-error {
  background-color: #ff4081;
  color: #fff;
}

.btn-disabled {
  background-color: #e5e5e5;
  color: #fff;
}

.btn-shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0,.12), 0 1px 4px rgba(0, 0, 0,.12);
  color: #222;
}

/* 回答はここに書いてね */
